<nav class="bg-faded navbar navbar-full navbar-light" id="navbar">
  <a class="navbar-brand">
    <span>Cash Register Exercise</span>
  </a>
</nav>

<div class="section">
  <div class="container-fluid">
    <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">
        <div class="col-xs-8">
          <!-- Defaults to order items -->
          <router-outlet></router-outlet>
        </div>
        <div class="col-xs-4">
          <order-details></order-details>
        </div>
      </div>
    </div>
  </div>
</div>
